.input-placeholder-text {
  font-family: "Lato", Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

#kanji-api-input {
  padding-left: 0.2rem;
  font-family: "Lato", Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

#baseURL-kanji-api {
  font-family: "Lato", Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  position: relative;
  bottom: -6.1px;
  left: 7px;
}
